* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("img/6.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
}

img {
    float: left;
    margin-top: 20px;
    vertical-align: middle;
}

p {
    margin: 100px;
}

div {
    height: 300px;
    border: 1px solid wheat;
}